html,
body {
  font-family: 'Roboto', sans-serif; }

img {
  display: block; }

a,
a:visited,
a:hover,
a:focus,
a:active,
a:focus-within {
  text-decoration: none;
  color: #88171b; }

.header-cta {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

body,
html,
.site {
  height: 100%;
  min-height: 100%; }

input {
  max-width: 100%; }

textarea {
  resize: none; }

@media only screen and (max-width: 500px) {
  table {
    font-size: 0.8em; } }

.ar-btn {
  margin-bottom: 0.67em; }

.site {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.site-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  width: 1280px;
  margin: 0 auto; }
  @media only screen and (max-width: 1280px) {
    .site-content {
      max-width: 100%;
      width: 100%;
      padding: 0 2em; } }
  @media only screen and (max-width: 768px) {
    .site-content {
      padding: 0; } }
  .site-content .content-area {
    min-width: 60%;
    width: 65%;
    padding: 1em; }
    @media only screen and (max-width: 960px) {
      .site-content .content-area {
        width: 100%; } }
  .site-content .entry-content {
    max-width: 700px; }
  .site-content .widget-area {
    max-width: 40%;
    width: 35%;
    padding: 1em; }
    @media only screen and (max-width: 960px) {
      .site-content .widget-area {
        width: 100%;
        max-width: 100%; } }
    .site-content .widget-area ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }

.aralica-front-page__h2 {
  text-align: center;
  margin: 2em 0;
  font-size: 3em; }

.main-menu {
  width: auto;
  display: -webkit-box;
  display: flex; }
  .main-menu .primary-menu {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media only screen and (max-width: 768px) {
      .main-menu .primary-menu {
        display: none; } }
    .main-menu .primary-menu--mobile {
      z-index: 999;
      display: -webkit-box;
      display: flex;
      position: fixed;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh; }
      .main-menu .primary-menu--mobile li {
        padding: 10px; }
  .main-menu .hamburger {
    padding: 15px;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 768px) {
      .main-menu .hamburger {
        display: block; } }
  .main-menu .hamburger-close {
    display: none; }
    .main-menu .hamburger-close i {
      pointer-events: none; }
  .main-menu i {
    pointer-events: none; }

.main-menu--mobile .hamburger-close {
  display: block;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  right: 40px;
  top: 100px;
  z-index: 9999; }

.nav-container-inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 1280px) {
    .nav-container-inner {
      width: 100%;
      padding: 0 2em; } }
  .nav-container-inner--lang {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0; }

.nav-container__logo {
  width: 100px; }

.nav-container li a {
  padding: 10px; }

.menu-lang-container {
  width: 100%;
  padding: 10px 0; }

.site-branding__front {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
          align-items: stretch;
  height: 75vh;
  min-height: 75vh;
  -webkit-box-align: center;
          align-items: center; }
  .site-branding__front-text {
    padding: 1.6em; }
  .site-branding__front-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: saturation;
    background-size: cover; }

.header-cta {
  display: -webkit-box;
  display: flex;
  margin: 0; }
  .header-cta li {
    margin-right: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }

.apartments-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 1280px) {
    .apartments-container {
      padding: 0 2em; } }

.apartments-card {
  width: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .apartments-card {
      width: 100%;
      margin-bottom: 2em; } }
  .apartments-card__text {
    -webkit-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    line-height: 1; }
  .apartments-card .ar-btn {
    margin-top: auto; }

.site-footer {
  background-color: #34363a;
  margin-top: auto; }

.footer-inner {
  padding: 40px 20px;
  color: white;
  width: 1280px;
  display: -webkit-box;
  display: flex;
  margin: 0 auto; }
  @media only screen and (max-width: 1280px) {
    .footer-inner {
      width: 100%; } }
  @media only screen and (max-width: 768px) {
    .footer-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .footer-inner__social, .footer-inner__activities, .footer-inner__info {
    -webkit-box-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
  .footer-inner__info i {
    margin-right: 10px; }
  .footer-inner__partners {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
    .footer-inner__partners a {
      width: 25%; }
  .footer-inner__social ul {
    display: -webkit-box;
    display: flex; }
  .footer-inner__social li {
    margin-right: 5px; }
    .footer-inner__social li i {
      font-size: 2em; }
  .footer-inner ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }

.aralica-copy {
  text-align: center;
  padding: 40px 0; }

.apartments-archive,
.partners-archive {
  margin-bottom: 40px; }
  .apartments-archive a,
  .partners-archive a {
    display: -webkit-box;
    display: flex;
    width: 100%; }
  .apartments-archive h3,
  .partners-archive h3 {
    line-height: 1;
    margin: 0; }
  .apartments-archive__img,
  .partners-archive__img {
    width: 25%; }
    @media only screen and (max-width: 500px) {
      .apartments-archive__img img,
      .partners-archive__img img {
        height: 100%; } }
  .apartments-archive__text,
  .partners-archive__text {
    font-size: 1.5em;
    width: 75%;
    padding: 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
    @media only screen and (max-width: 500px) {
      .apartments-archive__text,
      .partners-archive__text {
        font-size: 0.7em;
        padding: 0.5em; } }

.wpcf7-form {
  padding: 0 1.6em; }
  .wpcf7-form input:not([type='submit']),
  .wpcf7-form textarea {
    width: 100%; }

@media only screen and (max-width: 768px) {
  .wp-block-column {
    flex-basis: 100% !important; } }

.ar-btn {
  cursor: pointer; }
  .ar-btn__link {
    padding: 0.75em 1.5em;
    border: 2px solid white;
    display: inline-block; }

.nav-container .main-menu a {
  color: #404040;
  font-weight: bold;
  text-transform: uppercase; }

.site-branding__front-bg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(136, 23, 27, 0.5); }

.site-branding__front-text {
  color: white; }
  .site-branding__front-text h1 {
    font-size: 4em; }
    @media only screen and (max-width: 768px) {
      .site-branding__front-text h1 {
        font-size: 2em; } }
  .site-branding__front-text ul {
    padding: 0;
    margin: 0; }
  .site-branding__front-text a {
    color: white;
    font-weight: bold;
    font-size: 1.2em; }
  .site-branding__front-text ul li:first-child a {
    padding: 0.75em 1.5em;
    border: 2px solid white;
    display: inline-block; }

.lang-item a {
  font-size: 0.8em;
  color: #404040; }

.current-lang {
  font-weight: bold; }

.nav-container .primary-menu--mobile {
  background: #88171b; }
  .nav-container .primary-menu--mobile a {
    color: white; }

.hamburger-close {
  color: white;
  font-size: 1.6em; }

.site-footer a {
  color: white; }

.aralica-copy {
  color: white;
  background: #49484e; }

.apartments-container {
  margin-bottom: 40px; }

.apartments-card {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.29), 0 6px 6px 0 rgba(0, 0, 0, 0.4); }
  .apartments-card__text {
    padding: 1em;
    background: #88171b;
    color: white; }
  .apartments-card a {
    color: white; }
  .apartments-card h3 {
    font-size: 2em;
    margin: 0.67em 0; }

.aralica-archive a {
  color: #404040; }

.apartments-archive,
.partners-archive {
  background-color: #88171b; }
  .apartments-archive a,
  .partners-archive a {
    color: white; }

.widget-area a {
  color: #88171b;
  text-transform: uppercase;
  font-weight: bold; }

input[type='submit'] {
  color: #88171b;
  background: white;
  border: 2px solid #88171b;
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer; }
  input[type='submit']:hover {
    background: white;
    border: 2px solid #88171b; }
